In [6]:
import pandas as pd

## Data Frame

In [3]:
# The simplest data frame possible
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [4]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [5]:
# In the following way we can get the index assigned ourselves
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

## Series

In [7]:
# A Series, by contrast, is a sequence of data values. If a DataFrame is a table, a Series is a list
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

## A couple useful functions

In [1]:
# *.shape() - to see the dimensions
# pd.read_csv() - this function has over 30 arguments and methods attached to it so it's worth checking them out!
# *.head() - to see the first couple of rows along with headers

## Data frame and series manipulation

In [4]:
df = pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

In [6]:
df.Yes

0    50
1    21
Name: Yes, dtype: int64

In [7]:
df['Yes']

0    50
1    21
Name: Yes, dtype: int64

In [8]:
df['Yes'][0] # this is going down to a specific serie object level

50

In [13]:
df['Yes'][0:]

0    50
1    21
Name: Yes, dtype: int64

## Index-based selection

In [14]:
df.iloc[0] # that's selecting the first row of the data based on the index value

Yes     50
No     131
Name: 0, dtype: int64

In [15]:
df.iloc[:, 0] # in order to get the first column we would need to write this

0    50
1    21
Name: Yes, dtype: int64

In [16]:
df.iloc[,0] # not passing the colon would result in an error

SyntaxError: invalid syntax (<ipython-input-16-a31e63b9cbf8>, line 1)

In [21]:
df.iloc[[0, 1], 0] # there's a number of different ways of defining this

0    50
1    21
Name: Yes, dtype: int64

In [22]:
df.iloc[-1:]  # the last x rows could be retrieved like this

   Yes  No
1   21   2

## Label-based selection

In [24]:
df.loc[0, 'No'] # the difference between iloc and loc is that iloc works only based on 'indices' whereas loc works based on 'labels'

131

In [25]:
df.loc[0:1, 'No']

0    131
1      2
Name: No, dtype: int64

In [26]:
df.loc[1, 'Yes']

21

In [27]:
df.loc[:, ['Yes', 'No']]

   Yes   No
0   50  131
1   21    2

### Worth noting

iloc uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded. So 0:10 will select entries 0,...,9. loc, meanwhile, indexes inclusively. So 0:10 will select entries 0,...,10.

## Conditional selection

In [30]:
df.loc[df.Yes == 50] # for boolean based conditional selection we always need to use 'loc' - the reason for this is that we're
# evaluating on a set of boolean series. Otherwise this operation would not work

   Yes   No
0   50  131

In [31]:
df.loc[(df.Yes == 50) & (df.No > 150)] # we can also easily combine conditions together using '&' and '\'

Empty DataFrame
Columns: [Yes, No]
Index: []

In [48]:
df['Cat'] = ['Miau', 'Hau'] # pandas comes with a handy function for evaluating conditions for categorical columns called '.isin()'

df.loc[df['Cat'].isin(['Miau'])]

   Yes   No   Cat
0   50  131  Miau

In [49]:
df.Yes

0    50
1    21
Name: Yes, dtype: int64

In [52]:
# another set of usefull functions are '.isnull()' and '.notnull()''
df.loc[df['Cat'].isnull()]

print('## Break ##')

df.loc[df['Cat'].notnull()]

## Break ##

   Yes   No   Cat
0   50  131  Miau
1   21    2   Hau

# Summary functions

In [59]:
df.describe()

             Yes          No
count   2.000000    2.000000
mean   35.500000   66.500000
std    20.506097   91.216775
min    21.000000    2.000000
25%    28.250000   34.250000
50%    35.500000   66.500000
75%    42.750000   98.750000
max    50.000000  131.000000

In [61]:
df.Yes.describe()

count     2.000000
mean     35.500000
std      20.506097
min      21.000000
25%      28.250000
50%      35.500000
75%      42.750000
max      50.000000
Name: Yes, dtype: float64

In [60]:
df.mean()

Yes    35.5
No     66.5
dtype: float64

In [62]:
df.Yes.mean()

35.5

In [64]:
df.unique() # needs to be executed on a single column

AttributeError: 'DataFrame' object has no attribute 'unique'

In [65]:
df.Yes.unique()

array([50, 21])

In [69]:
df.Yes.value_counts() # to get a summary input that is histogram ready; a distribution Serie

50    1
21    1
Name: Yes, dtype: int64

# Maps

In [74]:
df_yes_mean = df.Yes.mean()
print(df_yes_mean)
print(df.Yes)

35.5
0    50
1    21
Name: Yes, dtype: int64

In [73]:
df.Yes.map(lambda p: p - df_yes_mean)

0    14.5
1   -14.5
Name: Yes, dtype: float64

In [96]:
# The difference between map and apply is the following: maps works with series and apply works with entire data frames
def remean_points(row):
    row.Yes = row.Yes - df_yes_mean
    return row

df.apply(remean_points, axis='columns')

    Yes   No   Cat
0  14.5  131  Miau
1 -14.5    2   Hau

In [97]:
# If we passed apply() with argument axis='index' then we would need to pass a function to modify the columns
def new_mean(column):
    return sum(column)/len(column)

df[['Yes', 'No']].apply(new_mean, axis='index')

Yes    35.5
No     66.5
dtype: float64

### Types

In [1]:
# dtype() / df.dtypes / df.col.dtype - to get the type of the object
# Remember that columns that are only strings get a type called 'object'
# astype() / df.col.astype() - will convert a column from one type to another

### Replacing (missing) data

In [2]:
# fillna() / df.col.fillna('Fill') - that's a way to fill in missing data with a given value
# replace() / df.col.replace('Value1', 'Value2') - that's a way to replace one value for another

## Grouping functions

In [4]:
# Below is a couple usefull ways of using the groupby() function
# df.groupby('col').col.count() - this expression is equivalent to running df.col.value_counts()
# df.groupby('col').col.min()
# df.groupby('col1').apply(lambda df: df.col2.iloc[0]) - extract the first value of col2 by each group of col1 value
# df.groupby(['col1', 'col2']).apply(lambda df: df.loc[df.col3.idxmax()]) - you can also group by 2 columns
# df.groupby(['col1']).col2.agg([len, min, max]) - the agg() expression let's you combine multime metrics from group by

### Multi index

In [5]:
# Use the reset_index() function to reset df indexing

### Sorting

In [6]:
# df.sort_values(by = 'col') - you can sort values of a data frame by specifying a given column
# df.sort_values(by = 'col', ascending = False) - another setting for sorting
# df.sort_index() - you can also sort by the values of your index
# df.sort_values(by = ['col1', 'col2']) - you can also provide more than one value for sorting like that

## Renaming

In [8]:
# df.rename(columns={'col1': 'col2'}) - this syntax will change the name of col1 into col2
# df.rename(index={0: 'firstEntry', 1: 'secondEntry'}) - you can also change particular elements of the index; 1sr and 2nd respectively

### Combining

In [ ]:
# pd.concat([df1, df2]) - pd.concat will just stack df's together like bind_rows would do
# join.<option> - this is the full scale joining function based on the in-built index

In [2]:
from pandas import DataFrame

df = DataFrame()
df.aggregate()